html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sparkle{
    position: absolute;
    background-color: #fcf9f5;
    width:100%;
    height: 100%;
}
.main-title{
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 2vw;
    letter-spacing: 2px;
}
.sub-title{
    color:rgb(113, 39, 39);
     position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    letter-spacing: 2px;
}
