html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#container{
    position: relative;
}
#sparkle{
    position: absolute;
    background-color: #f3e7d3;
}
.main-title{
    position: absolute;
}
